<app-heroe-eventos></app-heroe-eventos>


<div class="container">
    <div class="row">
        <div class="col-3">
            <app-calendario-eventos (fecha)="cambioFecha($event)"></app-calendario-eventos>
        </div>
        <div class="col-9">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">{{'vista.filtro' | translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">{{'vista.mapa' | translate}}</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <app-lista-eventos [fechaInput]="dateInput">
                        </app-lista-eventos>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <app-mapa-eventos [fechaInput]="dateInput">
                        </app-mapa-eventos>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>