<div class="modal fade fondo" [ngClass]="{show: eCerrar, dblock: eCerrar, dnone:!eCerrar}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark">Login</h5>
        <button type="button" class="close" (click)='cerrar()'>
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body text-dark">
        ...ccvcvcvcv


      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>