<div class="text-dark">
  <div>
    <form novalidate [formGroup]="formulario" (ngSubmit)='tratarSubmit()'>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="switch float-right">
            <input type="checkbox" formControlName="activado">
            <span class="slider round"></span>
          </label>
          <span class="float-right font-weight-bold mt-1 mr-2">{{'vista.activar' | translate}} </span>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="upload form-group col-12">
                <div class="round-div ">
                  <img [src]="logoURL">
                </div>
                <input #file type="file" accept='image/*' class="form-control" formControlName="logo"
                  (change)="onChangeLogo($event, file.files)">
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="form-group col-12">
                <span class="float-left mb-2 font-weight-bold mt-4">{{'vista.nombre' | translate}} </span>
                <input type="text" class="form-control form-control-sm" formControlName="nombre"
                  [placeholder]="'formulario.nombre' | translate">
                <small *ngIf="formulario.controls['nombre'].errors && control" id="errorNombre"
                  class="form-text text-muted">{{'formulario.valusuario' | translate}}</small>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="upload form-group col-12">
              <img class="imagen" [src]="imgURL" height="50">
              <input #file2 type="file" accept='image/*' class="form-control" formControlName="imagen"
                (change)="onChangeImg($event, file2.files)">
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-group col-12">
            <span class="float-left mb-2 font-weight-bold mt-4">{{'vista.info' | translate}} </span>
            <textarea rows="4" class="form-control form-control-sm" formControlName="info"
              [placeholder]="'formulario.info' | translate">
              </textarea>
            <small *ngIf="formulario.controls['info'].errors && control" id="errorInfo"
              class="form-text text-muted">{{'formulario.valmail' | translate}}</small>
          </div>
          <div class="form-group col-6">
            <span class="float-left mb-2 font-weight-bold">{{'vista.aforo' | translate}} </span>
            <input type="number" class="form-control form-control-sm" formControlName="aforo"
              [placeholder]="'formulario.aforo' | translate">
          </div>
          <div class="form-group col-12">
            <span class="float-left mb-2 font-weight-bold">{{'vista.horario' | translate}} </span>
            <input type="text" class="form-control form-control-sm" formControlName="horario"
              [placeholder]="'formulario.horario' | translate">
            <small *ngIf="formulario.controls['horario'].errors && control" id="errorNombre"
              class="form-text text-muted">{{'formulario.valusuario' | translate}}</small>
          </div>
          <div class="col-12">
            <div>
              <span class="float-left mb-2 font-weight-bold">{{'vista.redes' | translate}} </span>
              <button class="float-left mb-2 font-weight-bold" *ngIf="formulario.controls['redes'].value.length < 4"
                type="button" (click)="agregarRedes()" class="btn btn-primary">+</button>
            </div>
            <div class="" formArrayName="redes">
              <input class="form-control" type="text"
                *ngFor="let item of formulario.controls['redes'].controls; let i=index" [formControlName]="i">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-row">
          <div class="col-12">
            <span class="float-left mb-2 font-weight-bold">{{'vista.ubicacion' | translate}} </span>
          </div>
          <div class="form-group col-6">
            <select class="custom-select" (change)="datosLocalidad($event)">
              <option disabled selected value=""><span *ngIf='update'>{{'formulario.provincia' | translate}}</span><span
                  *ngIf='!update'>{{provincia}}</span></option>
              <option *ngFor="let item of provinciaArray" [value]="[item.idProvincia, item.nombre]">{{item.nombre}}
              </option>
            </select>
          </div>
          <div class="form-group col-6">
            <select class="custom-select" (change)="datosLatLng($event)">
              <option disabled selected><span *ngIf='update'>{{'formulario.localidad' | translate}}</span> <span
                  *ngIf='!update'>{{localidad}}</span></option>
              <option *ngFor="let item of localidadArray" [value]="[item.nombre, item.lat, item.lng]">
                {{item.nombre}}</option>
            </select>
          </div>
          <div class="form-group col-12">
            <app-mapalatlng [localizacion]="latlng" (latlng)="verlocalizacion($event)" (located)="verdireccion($event)">
            </app-mapalatlng>
          </div>
          <div class="form-group col-6">
            <input type="text" class="form-control form-control-sm" formControlName="lat"
              [placeholder]="'formulario.latitud' | translate" [value]="latitud" disabled>
          </div>
          <div class="form-group col-6">
            <input type="text" class="form-control form-control-sm" formControlName="lng"
              [placeholder]="'formulario.longitud' | translate" [value]="longitud" disabled>
          </div>
          <div class="form-group col-6">
            <input type="hidden" class="form-control form-control-sm" formControlName="provincia" [value]="provincia">
          </div>
          <div class="form-group col-6">
            <input type="hidden" class="form-control form-control-sm" formControlName="localidad" [value]="localidad">
          </div>
        </div>
        <div class="form-group col-12">
          <span class="float-left mb-2 font-weight-bold">{{'vista.comentarios' | translate}} </span>
          <textarea rows="4" class="form-control form-control-sm" formControlName="comentario"
            [placeholder]="'formulario.comentario' | translate">
                    </textarea>
          <small *ngIf="formulario.controls['comentario'].errors && control" id="errorComentario"
            class="form-text text-muted">{{'formulario.valcomentario' | translate}}</small>
        </div>
      </div>
      <input *ngIf="!botonActivo" class="btn btn-primary float-right" type="submit"
        [value]="'formulario.enviar' | translate">
      <input *ngIf="botonActivo" disabled class="btn btn-primary float-right" type="submit"
        [value]="'formulario.enviando' | translate">
    </form>

  </div>