<!-- <div *ngIf="datosSala" class="container"> -->
<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="float-left">
        <h3>EVENTO</h3>
      </div>
      <!-- <div class="float-right"> <img class="tamlogo" [src]="datosSala.logo" alt=""></div> -->
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <!-- <img class="tamimg" [src]="datosSala.imagen"> -->
        </div>
        <div class="col-6">
          <!-- <app-salamapa [localizacion]="latlng"></app-salamapa> -->
        </div>
      </div>
    </div>
  </div>
</div>