<!-- <div class="modal-header">
  <h5 class="modal-title text-dark">Login</h5>
</div> -->
<div class="modal-body text-dark">
  <div class="container">

    <div class="col-12 col-12">
      <form method="POST" action="https://bootsnipp.com/login" accept-charset="UTF-8" role="form" id="loginform"
        class="form-signin"><input name="_token" type="hidden" value="jsRWgegKO4ELtdKBap9byiV2mfSY9XSaEvbxweFe">
        <h5 class="sign-up-title" style="color:dimgray; text-align: center">{{'formulario.titlogin' | translate}}</h5>

        <hr>
        <input class="form-control email-title" [placeholder]="'formulario.usuario' | translate" name="email"
          type="text">
        <input class="form-control" [placeholder]="'formulario.pass' | translate" name="password" type="password"
          value="">
        <a class="pull-right">{{'formulario.olvido' | translate}}</a>
        <div class="checkbox">
          <label><input name="remember" type="checkbox" value="Remember Me">
            {{'formulario.recordar'| translate}}</label>
        </div>
        <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
      </form>
    </div>

  </div>


</div>