<div class="bg-dark text-light">
  <footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">{{ 'nav.tit' | translate }}</h5>
          <p>{{ 'nav.proyecto' | translate }}</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">AHM</h5>

          <ul class="list-unstyled">
            <li>
              <a [routerLink]="['/eventos']"> {{ 'nav.eventos' | translate }}
              </a>
            </li>
            <li>
              <a [routerLink]="['/salas']"> {{ 'nav.salas' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/bandas']"> {{ 'nav.grupos' | translate }}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="">Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="https://www.linkedin.com/in/david-ovejero-vargas/"> <i class="fab fa-linkedin"></i> Linkedin
              </a>
            </li>
            <li>
              <a href="https://github.com/dovejero"><i class="fab fa-github-square"></i> GitHub </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">DoV © 2019 Copyright
    </div>
  </footer>
</div>