<div class="container">
  <div class="row">
    <div class="col-3">
      <app-calendario-eventos (fecha)="cambioFecha($event)"></app-calendario-eventos>
    </div>
    <div class="col-9">
      <div class="text-dark">
        <div>
          <form novalidate [formGroup]="formulario" (ngSubmit)='tratarSubmit()'>
            <input type="text" class="form-control form-control-sm" formControlName="nombre"
              [placeholder]="'formulario.nombre' | translate">
            <small *ngIf="formulario.controls['nombre'].errors && control" id="errorNombre"
              class="form-text text-muted">{{'formulario.valusuario' | translate}}</small>
            <div class="upload form-group col-12">
              <img [src]="imgURL" height="50">
              <input #file2 type="file" accept='image/*' class="form-control" formControlName="imagen"
                (change)="onChangeImg($event, file2.files)">
            </div>
            <select class="custom-select" formControlName="fk_sala">
              <option disabled selected value=""><span>{{'formulario.salas' | translate}}</span></option>
              <option *ngFor="let item of salas" [value]="[item.id]">{{item.nombre}}
              </option>
            </select>
            <textarea rows="4" class="form-control form-control-sm" formControlName="info"
              [placeholder]="'formulario.info' | translate">
              </textarea>
            <small *ngIf="formulario.controls['info'].errors && control" id="errorInfo"
              class="form-text text-muted">{{'formulario.valmail' | translate}}</small>

            <input type="number" class="form-control form-control-sm" formControlName="precio"
              [placeholder]="'formulario.precio' | translate">
            <input *ngIf="!botonActivo" class="btn btn-primary float-right" type="submit"
              [value]="'formulario.enviar' | translate">
            <input *ngIf="botonActivo" disabled class="btn btn-primary float-right" type="submit"
              [value]="'formulario.enviando' | translate">
          </form>
        </div>
      </div>

    </div>